@model Dream.Models.Aplicacion

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Aplicacion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Curriculum.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Curriculum.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OfertaEmpleo.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfertaEmpleo.nombre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Atras", "IndexEmpresa")
    </p>
</body>
</html>

