@model IEnumerable<Dream.Models.OfertaEmpleo>
@{
    ViewBag.Title = "Details2";
    Layout = "~/Views/Shared/_LayoutEmpleado.cshtml";
}



<!-- Link hacia el archivo de estilos css -->

<link rel="stylesheet" href="css/DetallesOfer.css">
<style type="text/css">
</style>
@Styles.Render("~/Content/DetallesOfer.css")
<script type="text/javascript"></script>



@foreach (var item in Model)
{
    <main class="[ main ] [ flow ]">

        <ul class="cards">
            <li class="card">
                <div class="card__img">
                    <div class="img__cover">
                        <img src="~/Content/img/edificio.jpg" alt="" />
                    </div>
                    <div class="img__profile">
                        <img src="~/Content/img/logo.png" alt="">
                    </div>
                </div>
                <div class="[ card__text ] [ flow ]">
                    <h1>

                        @Html.DisplayFor(modelItem => item.nombre)

                    </h1>
                    <h3>
                        Numero de vacantes:
                        @Html.DisplayFor(modelItem => item.nVacantes)


                    </h3>
                    <h3>
                        Cargo:
                        @Html.DisplayFor(modelItem => item.cargo)


                    </h3>
                    <h3>
                        Descripcion:
                        @Html.DisplayFor(modelItem => item.descripcion)


                    </h3>
                    <h3>
                        Requeriminetos:
                        @Html.DisplayFor(modelItem => item.requerimientos)


                    </h3>
                    <h3>
                        Funciones:
                        @Html.DisplayFor(modelItem => item.funciones)


                    </h3>
                    <h3>
                        Salario:
                        @Html.DisplayFor(modelItem => item.Salario)


                    </h3>
                    <h3>
                        Prestaciones:
                        @Html.DisplayFor(modelItem => item.prestaciones)


                    </h3>

                    <h3>
                        Datos empresa:
                        @Html.DisplayFor(modelItem => item.DatosEmpresa.nombre)


                    </h3>
                    <h3>
                        Categoria:
                        @Html.DisplayFor(modelItem => item.Categoria.nombre)


                    </h3>
                    @*<a href="/Aplicacion/Index">Aplicar</a>*@
                    @Html.ActionLink("Aplicar a la oferta de empleo", "AplicarOferta", new { id = item.idOfertaEmpleo })

                </div>
            </li>

        </ul>
    </main>
}


















