@model Dream.Models.Usuario
@{
    ViewBag.Title = null;
    Layout = null;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <!doctype html>

    <!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
    <html lang="es">

    <head>

        <meta charset="utf-8">

        <title> Formulario de Acceso </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Ejemplo de formulario de acceso basado en HTML5 y CSS">
        <meta name="keywords" content="login,formulariode acceso html">

        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

        <!-- Link hacia el archivo de estilos css -->
        <link rel="stylesheet" href="css/login.css">
        <style type="text/css">
        </style>
        @Styles.Render("~/Content/Login.css")
        <script type="text/javascript"></script>

    </head>

    <body>
        <form id="frm">
            <h1>Employer Log in</h1>
            <div class="inset">
                <p>
                    <label for="email">DIRECCION DE CORREO ELECTRONICO</label>

                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control  ", @placeholder = "Ejemplo@gmail.com", @type = "email", required = "required", } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label for="password">CONTRASEÑA</label>
                    @Html.EditorFor(model => model.contra, new { htmlAttributes = new { @class = "form-control ", @type = "password", @placeholder = "*******", required = "required" } })

                    @Html.ValidationMessageFor(model => model.contra, "", new { @class = "text-danger" })
                </p>
                <p id="msj">
                    <strong>@ViewBag.Mensaje</strong>
                </p>
                
            </div>
            <p class="p-container">
                @Html.ActionLink("Crear Cuenta", "EleccionRol")
                <input type="submit" name="go" id="go" value="Ingresar">

            </p>
        </form>
    </body>
</html>
}


